.contactIcons {
  font-size: 4rem;
  margin: 0 2rem;
  color: black;
}

.iconsContainer {
  display: flex;
  justify-content: center;
}

.mouseImg {
  width: 225px;
  height: auto;
}

.contactContainer {
  height: 50vh;
  justify-content: space-between;
}
