.homeTiles {
  padding-bottom: 1.5rem;
}

.homeTileImage {
  width: 300px;
  height: auto;
}

.homeTextDiv {
  text-align: center;
}
.homeText {
  font-family: $font-stack-tertiary;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
}
